<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container text-center">
        <h2>Personal Library - Books I have read</h2>
        <img src="/images/book.jpg" class="img-rounded img-responsive"/>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Juan Manuel Esquivel R.</p>
      </footer>
    </div>
